<div class="container">
<h3>User list</h3>
<table class="table table-striped ">
    <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
   <tr *ngFor="let item of allusers">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td><input type="button" [routerLink]="['/update',item.id]" value="Edit" class="btn btn-success me-2"></td>
        <td><button class="btn btn-danger ms-2" (click)="delete(item)">  Delete</button>
        </td>
    </tr>
</tbody> 
</table>
</div>
